<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Meloc</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>meloc</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleURLTypes</key>
		<array>

			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>fb2329310394232249</string>
				</array>
			</dict>
		</array>
		<key>FacebookAppID</key>
		<string>2329310394232249</string>
		<key>FacebookClientToken</key>
		<string>23c98264bc3d9dd8551abd8d070dd911</string>
		<key>FacebookDisplayName</key>
		<string>Burner</string>
		<key>FacebookAutoLogAppEventsEnabled</key>
		<true/>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
    	<string>tel</string>
    	<string>mailto</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>NSAppTransportSecurity</key>
<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
</dict>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>UNUserNotificationCenter</key>
		<dict>
			<key>UNAuthorizationOptions</key>
			<array>
				<string>alert</string>
			</array>
		</dict>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>whatsapp</string>
			<string>instagram</string>
			<string>fb</string>
			<string>tiktok</string>
			<string>comgooglemaps</string>
			<string>tweetie</string>
			<string>wechat</string>
			<string>alipay</string>
			<string>mqq</string>
		</array>
		<key>NSCameraUsageDescription</key>
		<string>This app needs to access your camera, allowing you to upload profile pictures, publish works or share other images. All shooting data will be securely stored on your personal device and will only be uploaded or shared with your explicit consent.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>This app requires access to your microphone for recording in order to support the voice chat function.  We will only use or access the content of the record with your explicit permission.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app needs to access your photo album to let you select and upload avatars or other image materials. All selected files will be used solely for the purposes you have approved, securely stored on your device, and shared only with your consent.</string>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
